@{
    ViewData["Title"] = "Trivia Game";
}

<div class="text-center">
    <h1 class="display-4">Trivia Game</h1>
    <p>One computer, one player at a time.</p>
    <a asp-controller="Game" asp-action="Start" class="btn btn-primary">Start Game</a>
</div>